:root {
  --primary-text-color: #ffffff;
  --main-font-family: 'Inter', sans-serif;
  --primary-font-size: 16px;
  --middle-font-weight: 500;
  --uppercase-text-transform: uppercase;
}

body {
  font-family: var(--main-font-family);
  background-image: url('./image/bg-image.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.header {
  background-color: rgba(41, 31, 57, 0.7);
}

.header__mod {
  display: flex;
  justify-content: end;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1138px;
  height: 69px;
}

.navigation {
  margin-right: 58px;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  text-transform: var(--uppercase-text-transform);
}

.navigatiom__item:not(:last-child) {
  margin-right: 65px;
}

.login {
  display: flex;
  align-items: center;
  font-size: var(--primary-font-size);
  font-weight: var(--middle-font-weight);
  text-transform: var(--uppercase-text-transform);
}

.login__item {
  align-items: center;
}

.login__link {
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  font-weight: var(--middle-font-weight);
  text-transform: var(--uppercase-text-transform);
}

.login__link-modif {
  display: flex;
  align-items: center;
}

.login__link--icon {
  width: 36px;
  height: 33px;
  margin-right: 10px;
  background-position: center;
}

.login__link--btn {
  margin-left: 58px;
  padding: 11px 21px 10px 21px;
  width: 146px;
  height: 38px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #291f39;
  outline: none;
}

/* .login__link--btn:hover,
.login__link--btn:focus {
  background-color: #ffffff;
  color: #291f39;
  outline: none;
} */

.launguage__item {
  margin-left: 27px;
  padding: 0;
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  text-transform: var(--uppercase-text-transform);
}

.title {
  margin: 0;
  padding-top: 68px;
  padding-bottom: 90px;
  text-align: center;
  font-size: 30px;
  font-weight: var(--middle-font-weight);
  line-height: 1.2;
  text-transform: var(--uppercase-text-transform);
}

.section__form {
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 590px;
  height: 587px;
  background: rgba(41, 31, 57, 0.7);
  border-radius: 10px;
}

.form__label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.from__label--email-icon::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: 48%;
  left: 14%;
  background-image: url('./image/star.svg');
}

.form__label--email {
  position: relative;
  padding-top: 63px;
  margin-left: auto;
  margin-right: auto;
}
.form__input {
  margin-top: 18px;
  padding: 10px;
  width: 350px;
  height: 40px;
  background: #f3f3f3;
  border: none;
  border-radius: 10px;
}

.form__label--password {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.from__label--password-icon::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: 5%;
  left: 45%;
  background-image: url('./image/star.svg');
}

.from__label--check-password-icon::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: 5.5%;
  left: 47%;
  background-image: url('./image/star.svg');
}

.checkbox-risk {
  margin-top: 29px;
  margin-left: 120px;
  font-size: 12px;
  line-height: 1.25;
}

.checkbox-risk__label {
  padding-left: 26px;
  position: relative;
}

.checkbox-risk__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-risk__box {
  margin-left: -26px;
  position: absolute;
  top: -1px;
  width: 16px;
  height: 16px;
  background-image: url('./image/square.svg');
}

.checkbox-risk__input:checked + .checkbox-risk__box {
  background-image: url('./image/checked.svg');
}

.checkbox-risk__text {
  color: var(--primary-text-color);
}

.checkbox-risk__text:hover {
  cursor: pointer;
}

.checkbox-risk__link {
  text-decoration-line: underline;
}

.checkbox-policy {
  margin-top: 15px;
  margin-left: 120px;
  font-size: 12px;
  line-height: 1.25;
}

.checkbox-policy__label {
  position: relative;
  padding-left: 26px;
}

.checkbox-policy__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-policy__box {
  margin-left: -26px;
  position: absolute;
  top: -1px;
  width: 16px;
  height: 16px;
  background-image: url('./image/square.svg');
}

.checkbox-policy__input:checked + .checkbox-policy__box {
  background-image: url('./image/checked.svg');
}

.checkbox-policy__text {
  color: var(--primary-text-color);
}

.checkbox-policy__text:hover {
  cursor: pointer;
}

.checkbox-policy__link {
  text-decoration-line: underline;
}

.form__btn {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 111px 12px 112px;
  width: 350px;
  height: 40px;
  background: #757573;
  border: none;
  border-radius: 10px;
  outline: none;

  color: var(--primary-text-color);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.19;
}

.form__btn-active {
  cursor: pointer;
  background: linear-gradient(180deg, #9be1bb 0%, #47a271 100%);
}

.email__message {
  display: none;
  position: absolute;
  top: 75%;
  left: 55%;
  color: red;
  font-size: 12px;
}

.email__message-show {
  display: block;
}

.password__message {
  display: none;
  position: absolute;
  top: 55%;
  left: 55%;
  color: red;
  font-size: 12px;
}

.password__message-show {
  display: block;
}

.password-check__message {
  display: none;
  position: absolute;
  top: 55%;
  left: 55%;
  color: red;
  font-size: 12px;
}

.password-check__message-show {
  display: block;
}
